/d/Synechron_BDD/EclipseWS/.metadata/
/d/Synechron_BDD/EclipseWS/.metadata/*
/d/Synechron_BDD/EclipseWS/libs
/d/Synechron_BDD/EclipseWS/Traning/.settings
/d/Synechron_BDD/EclipseWS/Traning/target
/d/Synechron_BDD/EclipseWS/Traning/.classpath
/d/Synechron_BDD/EclipseWS/Traning/.project


